header {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color:black;
}
header h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 30px;
    background-color: rgb(240, 191, 32);
    padding: 10px;
    border-radius: 10px;
}