
    .navBar {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        background-color:black;
        border-radius: 5px;
}

    .navBar a {
        text-align: center;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        color: rgb(148, 144, 144);
        font-size: 24px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .navBar a:hover {
        color:rgb(240, 191, 32);
    }
    .activePage {
        background-color:white;
    }