header {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    text-align: center;
    background-image: url(../images/HeaderScotlandImageEdit.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px #3367c0;
    
}

.flagImage {
    width: 15%;
    height: 5%;
    margin: 15px;
    box-shadow: 2px 2px 40px #6a87b9;
    
}

.headerLogo {
    width: 15%;
    min-width: 15%;
    min-height: 15%;
}

body {
    margin: 0 auto;
    font-family: 'Texturina', serif;
    color: white;
    background-color: #546951;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    border-top: solid 4px #648b5d;
    border-bottom: solid 4px #648b5d;
    font-size: 24px;
    background-color: #8e949e;
}

.navBar a:hover {
    color: #3367c0;
}

.activePage {
    background-color: #5a6575;
    
}

h2 {
    font-size: 35px;
    text-align: center;
}

li {
    font-size: 24px;
}

.countryFacts {
    display: flex;
    justify-content: space-around;
    border: dotted 2px orange;
    margin: 15px 0;
}

.countryArticles {
    border: dotted 2px goldenrod;
    width: 100%;
    margin: 10px;
}

.footer {
    text-align: center;
    padding: 8px 0;
    border: dotted 2px purple;
    background-color: #8e949e;
}

.footerLogo {
    width: 8%;
}

